h1, p {
  font-family: Lato;
}

* {
  padding: 0;
  margin: 0;
}

nav {
  background-color:#000;
  color: #fff;
  padding: .5rem 1rem;
}

.gifbox {
  margin: 1rem;
  padding: .7rem;
  border: 2px dashed #000;
  color: #000;
}

button {
  background-color: white;
}
